/* CSS Document - 制作：株式会社アルファサイト */
@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

/********************************************
 * reset
 ********************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, textarea, input,
table, caption, tbody, tfoot, thead, tr, th, td {
	padding: 0;
	margin:0;
	font-family: "メイリオ",Lato,"Noto Sans JP",Meiryo,"游ゴシック Medium","游ゴシック体","Yu Gothic Medium",YuGothic,"ヒラギノ角ゴ ProN","Hiragino Kaku Gothic ProN","ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	color:#666;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
body{ font-size:62.5%;}
h1, h2, h3, h4, h5, h6 ,th{ font-weight:normal;}
dd{ display:block;}
ol, ul{ list-style:none;}
p{ line-height:1.6; font-size:1.4em;}
table { border-collapse:collapse; border-spacing:0;}
a{ text-decoration:none;}
a img{ border:0;}
em{ font-style:normal;}
input[type=checkbox],
input[type=radio]{ position:relative; top:2px;}

.spOnly{ display:none;}
.center{ text-align:center;}
.mincho{ font-family:"Roboto Slab" , Garamond , "Times New Roman" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif; color:#000;}
.eng{ font-family:Helvetica, Arial;}

/********************************************
 * clearfix
 ********************************************/
.cf::after{
	content:"";
	display:table;
	clear:both;
}

/********************************************
 * opacity
 ********************************************/
.boxLink:hover,
.opaView:hover,
a.opa:hover img{
	filter:alpha(opacity=80);
	-moz-opacity:0.80;
	opacity:0.80;
	cursor:pointer;
}

/********************************************
 * common
 ********************************************/

.wrapWidth{ width:970px; margin:0 auto;}
.txtCenter{ text-align:center;}

header{width:970px; height: 50px; padding:20px 0px; margin:0 auto;}
header h1{float:left;padding:0;}
header nav{float:right;}
header nav ul li{list-style-type: none; float:left;font-size: 14px;font-weight: bold;margin:30px 30px 0 0;}
header nav ul li:last-child{margin-right:0;}


footer{background:#ffffff;}
footer .ftlogo{float:left;margin:35px 200px 0 110px;}
footer .ftctr{float:left;margin:30px 0 0 0;}
footer .ftctr img{margin:10px 0 40px 0;}
footer .ftrht{float:right;margin:30px 0 0 0;}
footer h6{font-size:16px; color:#373737; font-style:normal; font-weight: bold;}
footer p{font-style:normal;}
footer .adfirst{margin-top:5px;}
.copyright{background:#e5f2ff;height:60px;padding:20px 0 0 0;}
.copyright p{font-size:12px; }
.copyleft{float:left;}
.privacy{float:right;}

h2{color:#05519d; font-size:24px; font-weight: bold; padding:20px 0 0 0;}



/********************************************
 * top
 ********************************************/

.topImg{width: 100%; min-width: 1100px; height: 570px; background:url(../img/top_main.png) no-repeat; background-size:100%;background-position:center top;position:relative;}
.topImg h2{color:#fff; font-size:30px;text-shadow:0 0 10px #053361;letter-spacing:10px;text-align: left; position:absolute;top:10%;left:10%;}
.topImg p{color:#fff; font-size:13px;font-weight:bold;text-shadow:5px 5px 30px #053361;text-align: left; position:absolute;bottom:2%;right:10%;}
.news{background: #ffffff;}
.newsdl{width:980px; text-align: left; margin:25px 0;}
.news .newsdl dl {font-size:14px; line-height: 25px;}
.news .newsdl dl dt{float:left; color:#0b529d; font-weight:bold; margin:0 25px 0 0;}

.shohin{background:#f1f1f1; overflow:hidden; padding:0 0 10px 0;}
.shohin h3{color:#373737; font-size:16px; font-weight:bold; margin:15px 0 10px 0;}
.shohinbox ul li {float:left;width:240px; margin:0 0 6px 0;}

/********************************************
 * subpage
 ********************************************/

.subpage_head{height:150px; min-width: 1100px; background:url(../img/tmp_subpg_main.png) no-repeat; background-size:100%; background-position:center top;position: relative;}
.subpage_title{ padding-top:34px;/*position:absolute;top:25%;*/}

/********************************************
 * パンくずリスト
 ********************************************/
.breadcrumbs{height: 30px;line-height: 30px;margin: 10px auto;}
.breadcrumbs a,
.breadcrumbs span.breadcrumb_last	{font-size: 12px; font-weight: bold; float: left;background: url(../img/arrow.png) left 50% no-repeat; padding-left: 10px; margin-right: 5px;}
.breadcrumbs a:first-child	{background: none;	padding-left: 0;}
.breadcrumbs a:first-child i{font-size:1.5em;}
.breadcrumbs a{text-decoration: underline;}

/********************************************
 * company
 ********************************************/
.company_01{height:180px;background:#ffffff;}
.company_title{width:540px;margin:0 auto;}
.company_title p{color:#373737;font-size:30px; font-weight: bold; width:280px;text-align: left;float:left;padding-top:20px;}

.company_02{background:#4d82b8;padding:20px 0 40px 0;}
.company_02 h3{color:#fff;font-size:18px;font-weight:bold; padding:0 0 30px 0;}
.company_02 h4{color:#fff;font-size:18px;font-weight:bold; padding:30px 0 10px 0;}
.company_info { width:960px; text-align: left; position:relative;}
.company_info .photo{position:absolute; top:0; right:0;}
.company_info dl {color:#fff;font-size:16px; line-height: 25px;}
.company_info dl dt{color:#fff;float:left; font-weight:bold; width:82px; margin:0 25px 0 0;}
.company_info dl dd{margin-left:120px; color:#fff;}

#map{width: 100%;height: 340px;	margin: 0 auto;}


/********************************************
 * product
 ********************************************/
.product_01{height:180px;background:#ffffff;}
.product_title{width:710px;margin:0 auto;}
.product_title p{color:#373737;font-size:30px; line-height:1.5em; font-weight: bold; width:420px;text-align: left;float:left;padding-top:0px;}
.product_02{background:#f6f6f6;padding:20px 0 20px 0;}
.p_wrap{margin-bottom:10px;}
.p_name{font-size:24px; font-weight: bold;color:#373737;}
.p_ls{width:112px;}
.p_ls_nihondensan{width:164px;}
.p_ls_u{width:95px;}
.p_logo{margin:10px 0;}
.p_logo_yasukawa{margin:10px 0;width:180%;}

.p_left{background:url(../img/p_bkbox.png) no-repeat;width:478px;height:246px;position:relative;float:left;}
.p_left .p_photo{position: absolute; top:30px; left:10px;}
.p_left .p_photo_shindo{position: absolute; top:30px; left:30px;}
.p_left .p_photo_air{position: absolute; top:30px; left:30px;}
.p_left .logo_txt{position: absolute; top:30px; left:235px;text-align: left;}
.p_left .p_txt{position:absolute;top:150px;left:25px;text-align: left;width:420px;}

.p_right{background:url(../img/p_bkbox.png) no-repeat;float:right; width:478px;height:246px;position:relative;}
.p_right .p_photo{position: absolute; top:30px; left:10px;}
.p_right .logo_txt{position: absolute; top:30px; left:235px;text-align: left;}
.p_right .p_txt{position:absolute;top:150px;left:25px;text-align: left;width:420px;}


/********************************************
 * policy
 ********************************************/
.policy{background:#f6f6f6;padding:20px 0 60px 0;}
.policy h3{color:#0b529d; font-size:16px; font-weight: bold;margin-bottom:10px;}
.policy_num{font-size:14px;color:#373737; font-weight:bold;margin-top:15px;}


/********************************************
 * sitemap
 ********************************************/

.sitemap{background:#f6f6f6;padding:50px 0;}
.sitemap p {color:#373737; font-size:18px; font-weight:bold; line-height: 60px; border-bottom:solid 1px #9d9c9a;}
.sitemap .first{color:#373737; font-size:18px; font-weight:bold; line-height: 60px; border-top:solid 1px #9d9c9a;}


/********************************************
 * topics
 ********************************************/
.topics{background:#f6f6f6;padding:5px 0 100px 0;}
.topics .newsdl dl {font-size:16px; padding:20px 0;}
.topics .newsdl dl dt{float:left; color:#0b529d; font-weight:bold; margin:0 10px 0 0;}
.topics .newsdl dl dd{float:right; width:840px;}

/********************************************
 * enkaku
 ********************************************/
.enkaku{background:#f6f6f6;padding:50px 0 100px 0;}

.company_03{background:#f6f6f6;padding:20px 0 20px 0;}

.company_03 dl{border-bottom:1px solid #ccc;font-size:16px;}
.company_03 dl dt{float:left;font-weight:bold;border-top:1px solid #ccc;line-height:2em;width:180px;text-align: left;text-indent:1em;}
.company_03 dl dd{border-top:1px solid #ccc;text-align: left;line-height:2em;margin-left:180px;}
.company_03 dl dd p{
font-size:16px;
line-height:2em;
}

/********************************************
 * contact
 ********************************************/
.contact{background:#f6f6f6;padding:30px 0 100px 0;}
.contact_hd{font-size:16px;}
.att{color:#ff0000;}

.frm{ padding:10px 0 0 150px;}
.frm table{ border-top:0px solid #ccc; border-left:0px solid #ccc; border-right:0px solid #ccc; margin:20px 0; width:80%;}

.frm th,
.frm td{ text-align:left; padding:6px; color:#373737; vertical-align:top;}
.frm th{ width:200px; position:relative;font-weight: bold; font-size:16px; }
.frm td input,
.frm td textarea{ background:#ffffff; border:1px solid #ccc; padding:5px; }
.frm td textarea{width:100%; }
.inpCom,.inpBusho,.inpName,.inpAdd,.inpFax,.inpMail,.inpTel{width:100%;}
.frm td .inprad{font-size:14px;margin-right:10px;}
.frm td .inprad_last{font-size:14px;margin:0;}
.frm .hissu{ color:#ff0000; font-weight: normal; font-size:14px; margin-left: 20px;}
.frm .errMessage{ border:1px solid #c00; color:#c00; background:#f6e6e6; padding:15px 0; text-align:center; display:none;}
.frm .err{ display:block; padding:5px 0 0 5px; color:#c00; display:none;}
.frm .submit { padding:6px 60px !important; font-size:14px;font-weight: bold;text-align: center;background:#05519d;color:#fff;border-radius: 4px;margin-right:10px;}
.frm .submit a .ar_so{padding-left:12px;}

.frm table .kakunin{border-top:1px solid #ccc; border-left:1px solid #ccc; border-right:1px solid #ccc; margin:20px 0; width:80%;font-size:20px;}
#formEnd{ border:3px solid #05519d; padding:80px 0; background:#fff; text-align:center; margin:30px 0 0 0;}
#formEnd h4{ color:#05519d; margin:0 0 20px 0; font-size:3.6em;}
#formEnd i{ color:#05519d;}


#formWrap {	margin:0 auto;	color:#555;	line-height:150%;	font-size:120%;}
.frm table.formTable{margin:0 auto 20;border-collapse:collapse;}
.frm table.formTable td,
.frm table.formTable th{border:1px solid #ccc;padding:10px;}
.frm table.formTable th{width:25%;font-weight:normal;background:#efefef;text-align:left;}
.frm table.formTable td{background:#fff;}
p.error_messe{margin:5px 0;color:red;}

.submit { padding:6px 60px !important; font-size:14px;font-weight: bold;text-align: center;background:#05519d;color:#fff;border-radius: 4px;margin-right:10px;}


.wpcf7-list-item-label {
	font-size: 14px;
}

.wpcf7-response-output  {
	font-size: 14px!important;
}
