@charset "UTF-8";
/* CSS Document */

html.wp-toolbar { padding:0px;}

#wpwrap { padding-left:20px;
width:96%;
margin-left:auto;
margin-right:auto;}

#mw_adminimize_admin_bar {
height: 88px!important;
width: 100%;
padding-top:20px;
padding-bottom:5px;
margin-bottom:120px;}

#mw_title { display:block;
background-attachment: scroll;
background-clip: border-box;
background-color: transparent;
background-image: url("../images/icons-sd00774b9d4.png");
background-origin: padding-box;
background-position: 0 -203px;
background-repeat: no-repeat;
background-size: auto auto;
display: block;
height: 82px;
overflow-x: hidden;
overflow-y: hidden;
text-indent: 100%;
white-space: nowrap;
width: 164px;
margin-top:10px;
}

.empty-container { border:none!important;}

#adminmenuback {
	    display: none;
}
#adminmenuwrap {
 display: none;
}
#wpcontent {
    margin-left: 5px;
    padding-top: 60px;
}
#profile-page { display:none;}

#custom_admin_menu { position:absolute;
left:20px;
top:75px;}

#custom_admin_menu ul li { float:left;
margin-right:10px;
display:block;}

#custom_admin_menu ul li a { padding:5px 15px;
font-size:14px;
font-weight:bold;
border:1px solid #2B2A1F;
text-decoration:none;
color:#2B2A1F;
display:block;}

#custom_admin_menu ul li a:hover { background-color:#2B2A1F;
color:#fff;}

.add-new-h2 { font-size:18px!important;
font-weight:bold;}

#logoutPart { display:block;
position:absolute;
right:20px;
top:0;
font-size:14px;
font-weight:bold;}

#logoutPart a {color:#CC0000;}

#screen-meta-links,
.upload-php .view,
.add-new-h2,
.edit-php .wp-list-table #comments,
.wp-list-table .column-comments,
.edit-php .wp-list-table #custom-fields,
.wp-list-table .column-custom-fields{ display:none;}

#wpfooter { border:none;}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/*clearfix*/

.clearfix:after{
    content:".";
    display: block;
    height:0;
    clear:both;
    line-height:0;
    visibility:hidden;
}
 .clearfix {
    zoom:1;/*for IE 5.5-7*/
}