/* CSS Document - 制作：株式会社アルファサイト */
@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

/********************************************
 * reset
 ********************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, textarea, input,
table, caption, tbody, tfoot, thead, tr, th, td {
	padding: 0;
	margin:0;
	font-family: "メイリオ",Meiryo,Lato,"Noto Sans JP","游ゴシック Medium","游ゴシック体","Yu Gothic Medium",YuGothic,"ヒラギノ角ゴ ProN","Hiragino Kaku Gothic ProN","ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	color:#666;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
body{ font-size:62.5%;}
h1, h2, h3, h4, h5, h6 ,th{ font-weight:normal;}
dd{ display:block;}
ol, ul{ list-style:none;}
p{ line-height:1.3; font-size:1em;}
table { border-collapse:collapse; border-spacing:0;}
a{ text-decoration:none;}
a img{ border:0;}
em{ font-style:normal;}
input[type=checkbox],
input[type=radio]{ position:relative; top:2px;}

.pcOnly{ display:none;}
.spOnly{ display:block;}
.center{ text-align:center;}
.mincho{ font-family:"Roboto Slab" , Garamond , "Times New Roman" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif; color:#000;}
.eng{ font-family:Helvetica, Arial;}

/********************************************
 * clearfix
 ********************************************/
.cf::after{
	content:"";
	display:table;
	clear:both;
}

/********************************************
 * opacity
 ********************************************/
.boxLink:hover,
.opaView:hover,
a.opa:hover img{
	filter:alpha(opacity=80);
	-moz-opacity:0.80;
	opacity:0.80;
	cursor:pointer;
}

/********************************************
 * common
 ********************************************/

.wrapWidth{ padding:0 10px;}
.txtCenter{ text-align:center;}

header{ background:#ffffff; padding:0; position:relative;}
header h1 img{width:300px;}
header #navBtn{ position:absolute; top:10px; right:12px; background:#fff; width:40px; height:40px; text-align:center;}
header #navBtn i{ font-size:34px; margin:0;color:#05519d;}

#mask{
	display:none;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index:900;
	background-color: rgba(0, 0, 0, 0.5);
}
nav.mainNav{ 
	display:none;
	position: fixed;
	z-index:999;
	background-color: #fff;
	width: 250px;
	top: 45%;
	left: 50%;
	margin-top: -200px;
	margin-left: -125px;
}
nav.mainNav{ border:5px solid #226;}
nav.mainNav li{ border-bottom:1px solid #ccc;}
nav.mainNav li.home a{}
nav.mainNav li.home i{ font-size:1.6em;}
nav.mainNav li a{ display:block; font-size:1.6em; padding:15px; position:relative;}
nav.mainNav li a:after{ content:" \f138"; font-family:FontAwesome; position:absolute; top:39%; right:10px; color:#226;}
nav.mainNav .close{ position:absolute; top:-25px; right:-25px; width:40px;}

footer{background:#ffffff;}
footer .ftlogosp img {width:30%;}
footer .ftctr{float:left;margin:10px 0 0 0;}
footer .ftctr img{width:50%;margin:10px 0 10px 0;}
footer .ftrht{float:left;margin:0 0 20px 0;}
footer h6{font-size:16px; color:#373737; font-style:normal; font-weight: bold;}
footer p{font-style:normal;}
footer .adfirst{margin-top:5px;}
.copyright{background:#e5f2ff;padding:10px 0 0 0;}
.copyleft{font-size:10px;text-align:center;margin-bottom:10px;} 
.privacy{font-size:12px;text-align:center;margin-bottom:6px;}


h2{color:#05519d; font-size:22px; font-weight: bold; padding:1px 0;}



/********************************************
 * top
 ********************************************/

.topImgsp img{width: 100%;position:relative;}
.topImgsp h2{color:#fff; font-size:1.5em;text-shadow:0 0 10px #053361;letter-spacing:0px;text-align: left; position:absolute;top:80px;left:0%;}

.news{background: #ffffff;}
.newsdl{width:100%; text-align: left; margin:0 0 20px 0;}
.news .newsdl dl {font-size:14px; line-height: 18px;}
.news .newsdl dl dt{ color:#0b529d; font-weight:bold; margin:10px 0 0 0;}

.shohin{background:#f1f1f1; overflow:hidden; padding:0 0 10px 0;}
.shohin h3{color:#373737; font-size:16px; font-weight:bold; margin:0px 0 10px 0;line-height: 18px;}
.shohinbox_sp{padding-bottom:100px;} 
.shohinbox_sp ul li .box_left{float:left; }
.shohinbox_sp ul li .box_right{float:right; }
.shohinbox_sp ul li img{width:50%;}

.ichiran img{width:26%;margin-bottom:10px;}

/********************************************
 * subpage 
 ********************************************/

.subpage_head{ background:url(../img/tmp_subpg_main_sp.png) no-repeat; background-size:100%; background-position:center top;position: relative;}
.subpage_title{ padding:20px 0;}


/********************************************
 * company
 ********************************************/
.company_01{background:#ffffff;}
.company_title{padding:25px 0 10px 0;margin:0 auto;}
.company_title p{color:#373737;font-size:16px; font-weight: bold; width:50%;text-align: left;float:left;padding-top:20px;}
.company_title img{width:50%;}

.company_02{background:#4d82b8;padding:10px 0;}
.company_02 h3{color:#fff;font-size:18px;font-weight:bold; padding:0 0 10px 0;}
.company_02 h4{color:#fff;font-size:18px;font-weight:bold; padding:30px 0 10px 0;}
.company_info { width:100%; text-align: left; }
.company_info .photo{width:100%;}
.company_info dl {color:#fff;font-size:14px; line-height: 20px;}
.company_info dl dt{color:#fff;font-weight:bold;margin:10px 0 0 0; }
.company_info dl dd{color:#fff;}

#map{width: 100%;height: 200px;	margin: 0 auto;}

.company_03{background:#f6f6f6;padding:10px 0 20px 0;}
.company_03 h3{color:#373737;font-size:18px;font-weight:bold; padding:0 0 10px 0;}
.company_03 dl.enkaku{border-bottom:1px solid #ccc;font-size:14px; line-height: 36px;text-align: left;} 
.company_03 dl.enkaku dt {font-weight:bold;border-top:1px solid #ccc;}

/********************************************
 * product
 ********************************************/
.product_01{background:#ffffff;}
.product_title{padding:25px 0 10px 0;margin:0 auto;}
.product_title p{color:#373737;font-size:13px; font-weight: bold; width:60%;text-align: left;float:left;}
.product_title img{width:40%;}
.product_02{background:#f6f6f6;padding:10px 0;}

.p_name{font-size:24px; font-weight: bold;color:#373737;}
.p_ls{width:50%;}
.p_ls_nihondensan{width:90%;}
.p_ls_nihondensan .p_shosai{width:55%;}
.p_ls_u .p_logo{width:20%;display: block;}
.p_ls_u .p_shosai{margin-top:5px;width:80%;}
.p_logo{margin:0;width:75%;}
.p_shosai{width:95%;}
.product_02 h3{font-size:15px;font-weight: bold;}

.p_left{background:url(../img/p_bkbox_sp.png) no-repeat;background-size:100%; background-position:center top;height: 130px; position:relative;}
.p_left .p_photo{width:32%;position: absolute; top:12%; left:12%;}
.p_left .p_photo_air{width:32%;position: absolute; top:12%; left:15%;}
.p_left .logo_txt{position: absolute; top:10%; left:50%;text-align: left;}
.p_left .p_txt{position:absolute;top:56%;left:5%;text-align: left;width:90%;}

.p_right{background:url(../img/p_bkbox_sp.png) no-repeat;background-size:100%; background-position:center top;height: 130px;position:relative;}
.p_right .p_photo{width:32%; position: absolute; top:12%; left:12%;}
.p_right .logo_txt{position: absolute; top:10%; left:50%;text-align: left;}
.p_right .p_txt{position:absolute;top:56%;left:5%;text-align: left;width:90%;}


/********************************************
 * policy
 ********************************************/
.policy{background:#f6f6f6;padding:20px 0 60px 0;}
.policy h3{color:#0b529d; font-size:16px; font-weight: bold;margin-bottom:10px;}
.policy_num{font-size:14px;color:#373737; font-weight:bold;margin-top:15px;}


/********************************************
 * sitemap
 ********************************************/

.sitemap{background:#f6f6f6;padding:20px 0;font-size:16px; font-weight:bold; }
.sitemap p {color:#373737; border-bottom:solid 1px #9d9c9a;line-height: 60px; }
.sitemap .first{color:#373737; border-top:solid 1px #9d9c9a;line-height: 60px; }


/********************************************
 * topics
 ********************************************/
.topics{background:#f6f6f6;width:100%; text-align: left; padding:20px 0 0 0;}
.topics .newsdl dl {font-size:14px; line-height: 18px;}
.topics .newsdl dl dt{color:#0b529d; font-weight:bold; margin:10px 0 0 0;}

/********************************************
 * contact
 ********************************************/
.contact{background:#f6f6f6;padding:30px 0 30px 0;}
.contact_hd{font-size:14px; text-align: left;}
.att{color:#ff0000;font-size:14px;text-align: left;margin-top: 20px;}

.frm{ padding:10px 0 0 0;}
.frm table{ border-top:0px ; border-left:0px; border-right:0px; margin:20px 0; width:100%;}
.frm table .kakunin{ border-top:1px solid #ccc; border-left:1px solid #ccc; border-right:1px solid #ccc; margin:20px 0; width:100%;font-size:20px;}
.frm th,
.frm td{ text-align:left; padding:4px; color:#373737; vertical-align:top;display: block;}
.frm th{ position:relative;font-weight: bold; font-size:16px; }
.frm td input,
.frm td textarea{ background:#ffffff; border:1px solid #ccc; padding:5px; }
.frm td textarea{width:100%; }
.inpCom,.inpBusho,.inpName,.inpAdd,.inpFax,.inpMail,.inpTel{width:100%;}
.frm td .inprad{font-size:14px;margin-right:14px;}
.frm .shosai{font-size:14px; margin:10px 0;}
.frm .hissu{ color:#ff0000; font-weight: normal; font-size:14px; margin-left: 20px;}
.frm .errMessage{ border:1px solid #c00; color:#c00; background:#f6e6e6; padding:15px 0; text-align:center; display:none;}
.frm .err{ display:block; padding:5px 0 0 5px; color:#c00; display:none;}
.frm .submit { padding:6px 50px !important; font-size:14px;font-weight: bold;text-align: center;background:#05519d;color:#fff;border-radius: 4px;}
.frm .submit a{ padding:6px 110px !important; font-size:14px;font-weight: bold;text-align: center;background:#05519d;color:#fff;border-radius: 4px;}
.frm .submit a .ar_so{padding-left:12px;}
#formEnd{ border:3px solid #05519d; padding:80px 0; background:#fff; text-align:center; margin:30px 0 0 0;}
#formEnd h4{ color:#05519d; margin:0 0 20px 0; font-size:3.6em;}
#formEnd i{ color:#05519d;}

#formWrap {	margin:0 auto;	color:#555;	line-height:150%;	font-size:120%;}
.frm table.formTable{width:100%;margin:0 auto 20px;	border-collapse:collapse;}
.frm table.formTable td,
.frm table.formTable th{border:1px solid #ccc;	padding:10px;	display:block; 	width:100%;}
.frm table.formTable th{text-align: center;	background:#efefef;}
.frm table.formTable td{	background:#fff;}
p.error_messe{margin:5px 0;color:red;}

.submit { padding:6px 50px !important; font-size:14px;font-weight: bold;text-align: center;background:#05519d;color:#fff;border-radius: 4px;}



